@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #7B54FA;
    --icon-inactive: #9CA3AF;
    --text-dark: #464646;
    --border-default: #C6C6C6;
    --black: #000;
    --text-placeholder: #BBBBBB;
    --text-secondary: #737373;
    --search-placeholder: #B7B7B7;
    --search-bg: #F3F5F6;
    --bg-icon-circle: #F0EBFF;
    --text-description: #8B8B8B;
    --chip-text: #4C5B72;
    --white: #FFFFFF;
    --text-header: #1F2937;
    --date-text: #787878;
    --date-card-bg: #F4F4F4;
  }
}