@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #7B54FA;
    --icon-inactive: #9CA3AF;
    --text-dark: #464646;
    --border-default: #C6C6C6;
    --black: #000;
    --text-placeholder: #BBBBBB;
    --text-secondary: #737373;
    --search-placeholder: #B7B7B7;
    --search-bg: #F3F5F6;
    --bg-icon-circle: #F0EBFF;
    --text-description: #8B8B8B;
    --chip-text: #4C5B72;
    --white: #FFFFFF;
    --text-header: #1F2937;
    --date-text: #787878;
    --date-card-bg: #F4F4F4;
    --action-bar-bg: #F2F2F2;
    --input-placeholder: rgba(103, 103, 103, 1);
    --plus-active-bg: #EEE9FF;
    --border-subtle: #F6F6F6;
    --text-figma-gray: #4F4F4F;
    --border-chat-item: rgba(210, 210, 210, 0.27);
    --border-card: #E5E7EB;
    --visit-type-active-bg: #F0F2FC;
    --card-shadow: rgba(0, 0, 0, 0.25);
    --status-upcoming: #07C300;
    --status-used-bg: #DE9902;
    --bg-card-neutral: #F8F8F8;
    --bg-icon-warning-light: #FFF8E1;
    --icon-warning: #E9A23B;
    --text-timestamp: #6D6D6D;
    --border-guest: #CDCDCD;
  }
}